<div class="email">
  <h4 style= 'color: #B00100;'>По всем вопросам обращаться </h4>
  <%= mail_to 'example@gmail.com',
   'Example@gmail.com',
   {style:'color:black ;text-decoration: none'}
   %>
</div>
