<div class="email" style="font-size:12px ;font-weight: bold; margin:20px "  >
    <p>По всем вопросам обращаться:</p>
    <%= mail_to 'example@gmail.com',
    'Example@gmail.com',
    {style:'color:#B00100'}
    %>
</div>
